{% extends "base.html" %}


{% block body %}
<div class="container mt-4">


  <div class="row">

      <div class="col-md-4">
        <a href="{% url 'products:all_products' %}"><button class="btn btn-primary">Products</button></a>
      </div>


      <div class="col-md-4">
        <a href="{% url 'products:add_product' %}"><button class="btn btn-primary">Add Product</button></a>
      </div>


      <div class="col-md-4">
        <button class="btn btn-primary">Empty</button>
      </div>




  </div>

</div>
{% endblock body %}
