{% extends "base.html" %}
{% load static %}



{% block body %}
<!-- PRODUCTS CARDS -->

<div class=container>
  <div class="row mt-4">

    <!-- First Card -->
      <div class="col-md-4">
        <div class="card card-adjust">
          {% if product.img %}
          <img class="card-img-top img-adjust" src="{{product.img.url}}" alt="Card image cap">
          {% endif %}
          <div class="card-body mx-auto">
            <h5 class="card-title card-title-adjust">{{product.name}}</h5>
            <div class="h5andspan"><h5 class="h5-adjust">Model: </h5> <span>{{product.model}}</span></div>
            <div class="h5andspan"><h5 class="h5-adjust">Price: </h5> <span>{{product.selling_price}}</span></div>
          </div>
        </div>
      </div>


  </div>

<div>
<a href="{% url 'products:edit_product' product.code %}">Edit Product</a>    
</div>

</div>

{% endblock body %}

<!-- END PRODUCTS CARDS -->
